* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardLogin {
    border-radius: 10px;
    border: 1px solid black;
}

.listUsuario {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    margin-top: 30px;
}

.contaUsuario {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    margin-top: 30px;
}

.contaUsuario > a {
    text-decoration: none;
    color: black;
}


.listUsuario:hover {
    background-color: rgba(0, 0, 0, 0.48);
    color: white;
    animation: 2s;
}


.listUsuario > a {
    text-decoration: none;
    color: black;
}

.listUsuario > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.addUsuario {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    margin-top: 30px;
}

.addUsuario:hover {
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    animation: 2s;
}


.addUsuario > a {
    text-decoration: none;
    color: black;
}

.addUsuario > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.escolhas {
    display: flex;
    justify-content: center;
}

.bodyPerfil {
    background: rgba(0, 0, 0, 0.34);
    font-family: Georgia;
}

.morromClaro {
    background-color: rgba(104, 78, 43, 0.82);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.imgConta {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
}
